* {
  margin: 0;
  padding: 0;
  color: #f2f5f7;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}

body {
  overflow-x: hidden;
}
.nav_section {
  height: 15vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 1vw;
  z-index: 2;
  overflow: hidden;
}
nav {
  height: 20%;
  width: 99%;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: #333;
}

.logo {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2em;
  position: relative;
  cursor: pointer;
}

.logo span {
  display: inline-block;
  animation-name: logo;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.logo span:nth-child(2) {
  animation-duration: 3s;
}
.logo span:nth-child(3) {
  animation-duration: 4s;
}
.logo span:nth-child(4) {
  animation-duration: 5s;
}
.logo span:nth-child(5) {
  animation-duration: 6s;
}
.logo span:nth-child(6) {
  animation-duration: 7s;
}
.logo span:nth-child(7) {
  animation-duration: 8s;
}
@keyframes logo {
  10%,
  80% {
    opacity: 1;
    transform: rotateX(360deg);
    filter: blur(2px);
  }
}
.logo::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #61dafb;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 40% 0 0 -1%;
}

.logo:hover::before {
  width: 110%;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 88vw;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}

.nav-links li {
  text-decoration: none;
  margin: 0 0.7vw;
}

.nav-links li:hover {
  color: #61dafb;
  cursor: pointer;
}

.nav-links li {
  position: relative;
}

.nav-links li::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #61dafb;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: -6% 0 0 -1%;
}

.nav-links li:hover::before {
  width: 45%;
}
.active {
  cursor: pointer;
}

.login-button {
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  margin-left: 2vw;
  font-size: 1rem;
  cursor: pointer;
}

.login-button:hover {
  color: #131418;
  background-color: #f2f5f7;
  border: 1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}

.join-button {
  color: #131418;
  background-color: #61dafb;
  border: 1.5px solid #61dafb;
  border-radius: 2em;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all ease-in 350ms;
}

.join-button:hover {
  color: #61dafb;
  background-color: transparent;
  border: 1.5px solid #61dafb;
  transition: all ease-in-out 350ms;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}

/*.hamburger {
    display: none;
}*/

nav {
  position: fixed;
  z-index: 3;
  height: 5rem;
}

.hamburger {
  display: block;
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 50%;
  color: #61dafb;
  transform: translate(-5%, -50%);
  z-index: 2;
  transition: all 0.7s ease;
}

.nav-links {
  position: fixed;
  background: #131418;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  clip-path: circle(50px at 90% -20%);
  -webkit-clip-path: circle(50px at 90% -10%);
  transition: all 1s ease-out;
  pointer-events: none;
}

.nav-links.open {
  clip-path: circle(1000px at 90% -10%);
  -webkit-clip-path: circle(1000px at 90% -10%);
  pointer-events: all;
}

.nav-links li {
  opacity: 0;
}

.nav-links li:nth-child(1) {
  transition: all 0.5s ease 0.2s;
}

.nav-links li:nth-child(2) {
  transition: all 0.5s ease 0.4s;
}

.nav-links li:nth-child(3) {
  transition: all 0.5s ease 0.6s;
}

.nav-links li:nth-child(4) {
  transition: all 0.5s ease 0.7s;
}

.nav-links li:nth-child(5) {
  transition: all 0.5s ease 0.8s;
}

.nav-links li:nth-child(6) {
  transition: all 0.5s ease 0.9s;
  margin: 0;
}

.nav-links li:nth-child(7) {
  transition: all 0.5s ease 1s;
  margin: 0;
}

li.fade {
  opacity: 1;
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    z-index: 3;
  }

  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }

  .nav-links {
    position: fixed;
    background: #131418;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }

  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }

  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }

  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }

  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }

  li.fade {
    opacity: 1;
  }
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  position: relative;
  background-color: #61dafb;
  right: -10%;
  transform: rotate(-44deg) translate(-4px, 35px);
}

.toggle .line2 {
  position: relative;
  background-color: #61dafb;
  right: 5%;
  top: 41%;
  transition: all 0.7s ease;
  width: 10px;
}

.toggle .line3 {
  background-color: #61dafb;
  position: relative;
  /* right: -1100%; */
  transform: rotate(44deg) translate(-1px, 39px);
}
