.Intro {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    padding: 3rem;
    flex-direction: row; /* Default layout */
}

/* left side styling */
.i-left {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}

.i-name {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.i-name> :nth-child(1) {
    color: black;
    font-weight: bold;
    font-size: 3rem;
}

.i-name> :nth-child(2) {
    color: #61DAFB;
    font-weight: bold;
    font-size: 3rem;
}

.i-name> :nth-child(3) {
    font-weight: 100;
    font-size: 14px;
    color: gray;
    margin-top: 10px;
}

.i-button {
    width: 12rem;
    height: 3rem;
    border-radius: 30px;
    background-color: #61DAFB;
    font-size: 1.5em;
    font-family: cursive;
    font-weight: 900;
    border: none;
}

/* right side styling */
.i-right {
    position: relative;
    height: 56vh;
    width: 40vw;
}

.blob {
    background-image: url('../../img/introimg.png');
    width: 75vh;
    height: 70vh;
    background-size: cover;
    background-position: center center;
    background-color: #61DAFB;
    box-shadow: 0 5px 5px 5px rgba(13, 110, 253, 0.2);
    animation: introImg 5s ease-in infinite;
    margin-top: 7rem;
    transition: all 1s ease-in;
}

@keyframes introImg {
    0%, 100% {
        border-radius: 70% 50% 40% 80% / 50% 20% 60% 30%;
    }
    50% {
        border-radius: 40% 70% 80% 50% / 60% 70% 40% 70%;
    }
}

.i-right>* {
    position: absolute;
    z-index: 1;
}

.i-right> :nth-child(1) {
    transform: scale(0.69);
    left: 20%;
    top: -40%;
}

.i-right> :nth-child(2) {
    top: -4.6rem;
    transform: scale(0.67);
    left: -3rem;
}

.i-right> :nth-child(3) {
    transform: scale(0.8);
    left: 28%;
}

.i-right> :nth-child(4) {
    transform: scale(0.62);
    top: -19%;
    left: -24%;
}

.blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    filter: blur(72px);
    z-index: -9;
    top: -18%;
    left: 56%;
}

/* Responsive Styling */
@media screen and (max-width: 1200px) {
    .i-right {
        width: 60vw;
    }
    .blob {
        width: 60vh;
        height: 60vh;
    }
}

@media screen and (max-width: 800px) {
    .Intro {
        flex-direction: column;
        gap: 7rem;
        height: auto;
    }

    .i-right {
        width: 80vw;
        transform: scale(0.8);
        margin-top: 3rem;
    }
    
    .blob {
        width: 90vh;
        height: 90vh;
        margin-top: -13rem;
    }

    .blur {
        display: none;
    }
    
    .floating-div:nth-of-type(1) {
        top: -9rem !important;
    }

    .floating-div:nth-of-type(3) {
        top: -12rem !important;
    }
}

@media screen and (max-width: 550px) {
    .Intro {
        padding: 2rem;
    }

    .i-left {
        text-align: center;
        gap: 1rem;
    }

    .i-right {
        width: 100vw;
        transform: scale(0.8);
    }

    .blob {
        width: 50vh;
        height: 50vh;
        margin-top: 2rem;
    }

    .floating-div {
        transform: scale(0.7);
    }
}

@media screen and (max-width: 470px) {
    .Intro {
        gap: 5rem;
    }

    .i-left>span {
        font-size: 2rem;
    }

    .i-right {
        transform: scale(0.7);
        margin-top: 4rem;
    }

    .blob {
        width: 40vh;
        height: 40vh;
    }
}
